*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

.settings/

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# From angular-seed
logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
